/******* game_admin ***********/
.game_admin_containts {
	z-index: 10;
}

.game_admin_contentWp {
	background: rgba(146, 2, 152, 0.5);
	height: 100%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
#js_game_admin.game_admin {
	display: block !important;
}

.game_admin__bg {
	height: 100%;
	position: absolute;
	width: 100%;
}

.game_admin_content {
	left: 50%;
	max-width: 600px;
	padding-bottom: 50px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80vw;
}
.game_admin_cont {
	background: #fff;
	border-radius: 50%;
	margin: auto;
	padding: 100% 0 0 0;
}
.game_adminWp {
	position: relative;
}
.game_admin_box {
	position: absolute;
	left: 50%;
	max-width: 600px;
	position: absolute;
	top: 55%;
	-webkit-transform: translate(-50%, -55%);
	transform: translate(-50%, -55%);
	width: 80vw;
}

.game_admin_list_item a:hover {
	box-shadow: none;
}
.game_admin_box img {
	max-width: 100%;
	height: auto;
}
.game_admin_list_item img {
	width: 91px;
}

.game_adminTtl {
	text-align: center;
}

.game_admin_btn_list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px auto 0;
}

.game_admin_list_item {
	margin: 0 1em;
}

@media screen and (min-width: 1025px) {
	#game_page .sp-only {
		display: none !important;
	}
	#game_page .game_logo {
		left: 1.5vw;
		position: absolute;
		top: 1.5vw;
	}
	#game_page .game_footer {
		height: 100vh;
		position: absolute;
		width: 100%;
		z-index: -9;
	}
	#game_page .game_footer_inner {
		bottom: 0;
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
	}
	#game_page .game_footer_inner::after {
		background-image: url(bg_game_ft.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		content: "";
		left: 50%;
		padding-top: 13.53333%;
		position: absolute;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		z-index: -1;
	}
	#game_page #stage {
		padding-bottom: 0;
	}

	#game_page .webgl-content {
		left: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	#unity-canvas {
		border: 7px solid #fff;
		box-shadow: 0px 1px 4px #ccc;
	}
	#unity-container:before {
		content: "";
		position: absolute;
		width: 1px;
		height: calc(100% - 14px);
		background: #fff;
		left: 7px;
		top: 7px;
	}
	.game_admin_list_item a {
		box-shadow: 0 2px 3px #ccc;
		border-radius: 25px;
		display: inline-block;
	}
}

@media screen and (max-width: 1024px) {
	#game_page .pc-only {
		display: none !important;
	}
	#game_page .main {
		/* margin-top: 0; */
	}
	#game_page .webgl-content {
		/* height: 100%;
		width: 100%; */
	}
}

@media screen and (max-width: 768px) {
	.game_admin_content {
		max-width: 100%;
		width: 90vw;
	}
	.game_admin_box {
		width: 70vw;
	}

	.game_admin_btn_list {
		margin: 30px auto 0;
	}
}
